<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmall.dao.CustomerMapper" >
  <resultMap id="BaseResultMap" type="com.mmall.pojo.Customer" >
    <constructor >
      <idArg column="customer_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="id_card" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="entrance_guard_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="education" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="graduated_from" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="work_unit" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="customer_photo_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="customer_photo_url2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="hometown" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="profession" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sex" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="area" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="political" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="marriage_status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="job_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="professional_level" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="registration_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="rent_reason" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="room_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="registration_certification_situation" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="estimated_due_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="unit_director" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="present_community" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="present_street" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="unit_contact_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="unit_address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendant_one_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendant_one_relationship" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendant_one_sex" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendant_one_card" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendant_one_if_vaccination" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendant_one_if_school" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendant_two_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendant_two_relationship" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendant_two_sex" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendant_two_card" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendant_two_if_vaccination" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendant_two_if_school" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendant_three_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendant_three_relationship" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendant_three_sex" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendant_three_card" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendant_three_if_vaccination" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="attendant_three_if_school" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="collector_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="entry_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="update_Time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="ethnicity" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="birth" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="residentialAddress" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="authority" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="startValidity" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="endValidity" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="mid" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    customer_id, phone, name, id_card, entrance_guard_id, education, graduated_from, 
    work_unit, create_time, customer_photo_url, customer_photo_url2, hometown, email, 
    profession, sex, area, political, marriage_status, job_type, professional_level, 
    registration_time, rent_reason, room_type, registration_certification_situation, 
    estimated_due_time, unit_director, present_community, present_street, unit_contact_phone, 
    unit_address, attendant_one_name, attendant_one_relationship, attendant_one_sex, 
    attendant_one_card, attendant_one_if_vaccination, attendant_one_if_school, attendant_two_name, 
    attendant_two_relationship, attendant_two_sex, attendant_two_card, attendant_two_if_vaccination, 
    attendant_two_if_school, attendant_three_name, attendant_three_relationship, attendant_three_sex, 
    attendant_three_card, attendant_three_if_vaccination, attendant_three_if_school, 
    collector_name, entry_name, update_Time, ethnicity, birth, residentialAddress, authority, 
    startValidity, endValidity, mid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from customer
    where customer_id = #{customer_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customer
    where customer_id = #{customer_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mmall.pojo.Customer" >
    insert into customer (customer_id, phone, name, 
      id_card, entrance_guard_id, education, 
      graduated_from, work_unit, create_time, 
      customer_photo_url, customer_photo_url2, 
      hometown, email, profession, 
      sex, area, political, 
      marriage_status, job_type, professional_level, 
      registration_time, rent_reason, room_type, 
      registration_certification_situation, estimated_due_time, 
      unit_director, present_community, present_street, 
      unit_contact_phone, unit_address, attendant_one_name, 
      attendant_one_relationship, attendant_one_sex, 
      attendant_one_card, attendant_one_if_vaccination, 
      attendant_one_if_school, attendant_two_name, 
      attendant_two_relationship, attendant_two_sex, 
      attendant_two_card, attendant_two_if_vaccination, 
      attendant_two_if_school, attendant_three_name, 
      attendant_three_relationship, attendant_three_sex, 
      attendant_three_card, attendant_three_if_vaccination, 
      attendant_three_if_school, collector_name, 
      entry_name, update_Time, ethnicity, 
      birth, residentialAddress, authority, 
      startValidity, endValidity, mid
      )
    values (#{customer_id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{id_card,jdbcType=VARCHAR}, #{entrance_guard_id,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, 
      #{graduated_from,jdbcType=VARCHAR}, #{work_unit,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, 
      #{customer_photo_url,jdbcType=VARCHAR}, #{customer_photo_url2,jdbcType=VARCHAR}, 
      #{hometown,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{profession,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{political,jdbcType=VARCHAR}, 
      #{marriage_status,jdbcType=VARCHAR}, #{job_type,jdbcType=VARCHAR}, #{professional_level,jdbcType=VARCHAR}, 
      #{registration_time,jdbcType=TIMESTAMP}, #{rent_reason,jdbcType=VARCHAR}, #{room_type,jdbcType=VARCHAR}, 
      #{registration_certification_situation,jdbcType=VARCHAR}, #{estimated_due_time,jdbcType=TIMESTAMP}, 
      #{unit_director,jdbcType=VARCHAR}, #{present_community,jdbcType=VARCHAR}, #{present_street,jdbcType=VARCHAR}, 
      #{unit_contact_phone,jdbcType=VARCHAR}, #{unit_address,jdbcType=VARCHAR}, #{attendant_one_name,jdbcType=VARCHAR}, 
      #{attendant_one_relationship,jdbcType=VARCHAR}, #{attendant_one_sex,jdbcType=VARCHAR}, 
      #{attendant_one_card,jdbcType=VARCHAR}, #{attendant_one_if_vaccination,jdbcType=VARCHAR}, 
      #{attendant_one_if_school,jdbcType=VARCHAR}, #{attendant_two_name,jdbcType=VARCHAR}, 
      #{attendant_two_relationship,jdbcType=VARCHAR}, #{attendant_two_sex,jdbcType=VARCHAR}, 
      #{attendant_two_card,jdbcType=VARCHAR}, #{attendant_two_if_vaccination,jdbcType=VARCHAR}, 
      #{attendant_two_if_school,jdbcType=VARCHAR}, #{attendant_three_name,jdbcType=VARCHAR}, 
      #{attendant_three_relationship,jdbcType=VARCHAR}, #{attendant_three_sex,jdbcType=VARCHAR}, 
      #{attendant_three_card,jdbcType=VARCHAR}, #{attendant_three_if_vaccination,jdbcType=VARCHAR}, 
      #{attendant_three_if_school,jdbcType=VARCHAR}, #{collector_name,jdbcType=VARCHAR}, 
      #{entry_name,jdbcType=VARCHAR}, #{update_Time,jdbcType=TIMESTAMP}, #{ethnicity,jdbcType=VARCHAR}, 
      #{birth,jdbcType=VARCHAR}, #{residentialAddress,jdbcType=VARCHAR}, #{authority,jdbcType=VARCHAR}, 
      #{startValidity,jdbcType=VARCHAR}, #{endValidity,jdbcType=VARCHAR}, #{mid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.pojo.Customer" >
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customer_id != null" >
        customer_id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="id_card != null" >
        id_card,
      </if>
      <if test="entrance_guard_id != null" >
        entrance_guard_id,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="graduated_from != null" >
        graduated_from,
      </if>
      <if test="work_unit != null" >
        work_unit,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="customer_photo_url != null" >
        customer_photo_url,
      </if>
      <if test="customer_photo_url2 != null" >
        customer_photo_url2,
      </if>
      <if test="hometown != null" >
        hometown,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="profession != null" >
        profession,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="political != null" >
        political,
      </if>
      <if test="marriage_status != null" >
        marriage_status,
      </if>
      <if test="job_type != null" >
        job_type,
      </if>
      <if test="professional_level != null" >
        professional_level,
      </if>
      <if test="registration_time != null" >
        registration_time,
      </if>
      <if test="rent_reason != null" >
        rent_reason,
      </if>
      <if test="room_type != null" >
        room_type,
      </if>
      <if test="registration_certification_situation != null" >
        registration_certification_situation,
      </if>
      <if test="estimated_due_time != null" >
        estimated_due_time,
      </if>
      <if test="unit_director != null" >
        unit_director,
      </if>
      <if test="present_community != null" >
        present_community,
      </if>
      <if test="present_street != null" >
        present_street,
      </if>
      <if test="unit_contact_phone != null" >
        unit_contact_phone,
      </if>
      <if test="unit_address != null" >
        unit_address,
      </if>
      <if test="attendant_one_name != null" >
        attendant_one_name,
      </if>
      <if test="attendant_one_relationship != null" >
        attendant_one_relationship,
      </if>
      <if test="attendant_one_sex != null" >
        attendant_one_sex,
      </if>
      <if test="attendant_one_card != null" >
        attendant_one_card,
      </if>
      <if test="attendant_one_if_vaccination != null" >
        attendant_one_if_vaccination,
      </if>
      <if test="attendant_one_if_school != null" >
        attendant_one_if_school,
      </if>
      <if test="attendant_two_name != null" >
        attendant_two_name,
      </if>
      <if test="attendant_two_relationship != null" >
        attendant_two_relationship,
      </if>
      <if test="attendant_two_sex != null" >
        attendant_two_sex,
      </if>
      <if test="attendant_two_card != null" >
        attendant_two_card,
      </if>
      <if test="attendant_two_if_vaccination != null" >
        attendant_two_if_vaccination,
      </if>
      <if test="attendant_two_if_school != null" >
        attendant_two_if_school,
      </if>
      <if test="attendant_three_name != null" >
        attendant_three_name,
      </if>
      <if test="attendant_three_relationship != null" >
        attendant_three_relationship,
      </if>
      <if test="attendant_three_sex != null" >
        attendant_three_sex,
      </if>
      <if test="attendant_three_card != null" >
        attendant_three_card,
      </if>
      <if test="attendant_three_if_vaccination != null" >
        attendant_three_if_vaccination,
      </if>
      <if test="attendant_three_if_school != null" >
        attendant_three_if_school,
      </if>
      <if test="collector_name != null" >
        collector_name,
      </if>
      <if test="entry_name != null" >
        entry_name,
      </if>
      <if test="update_Time != null" >
        update_Time,
      </if>
      <if test="ethnicity != null" >
        ethnicity,
      </if>
      <if test="birth != null" >
        birth,
      </if>
      <if test="residentialAddress != null" >
        residentialAddress,
      </if>
      <if test="authority != null" >
        authority,
      </if>
      <if test="startValidity != null" >
        startValidity,
      </if>
      <if test="endValidity != null" >
        endValidity,
      </if>
      <if test="mid != null" >
        mid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customer_id != null" >
        #{customer_id,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="id_card != null" >
        #{id_card,jdbcType=VARCHAR},
      </if>
      <if test="entrance_guard_id != null" >
        #{entrance_guard_id,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="graduated_from != null" >
        #{graduated_from,jdbcType=VARCHAR},
      </if>
      <if test="work_unit != null" >
        #{work_unit,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="customer_photo_url != null" >
        #{customer_photo_url,jdbcType=VARCHAR},
      </if>
      <if test="customer_photo_url2 != null" >
        #{customer_photo_url2,jdbcType=VARCHAR},
      </if>
      <if test="hometown != null" >
        #{hometown,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="profession != null" >
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="political != null" >
        #{political,jdbcType=VARCHAR},
      </if>
      <if test="marriage_status != null" >
        #{marriage_status,jdbcType=VARCHAR},
      </if>
      <if test="job_type != null" >
        #{job_type,jdbcType=VARCHAR},
      </if>
      <if test="professional_level != null" >
        #{professional_level,jdbcType=VARCHAR},
      </if>
      <if test="registration_time != null" >
        #{registration_time,jdbcType=TIMESTAMP},
      </if>
      <if test="rent_reason != null" >
        #{rent_reason,jdbcType=VARCHAR},
      </if>
      <if test="room_type != null" >
        #{room_type,jdbcType=VARCHAR},
      </if>
      <if test="registration_certification_situation != null" >
        #{registration_certification_situation,jdbcType=VARCHAR},
      </if>
      <if test="estimated_due_time != null" >
        #{estimated_due_time,jdbcType=TIMESTAMP},
      </if>
      <if test="unit_director != null" >
        #{unit_director,jdbcType=VARCHAR},
      </if>
      <if test="present_community != null" >
        #{present_community,jdbcType=VARCHAR},
      </if>
      <if test="present_street != null" >
        #{present_street,jdbcType=VARCHAR},
      </if>
      <if test="unit_contact_phone != null" >
        #{unit_contact_phone,jdbcType=VARCHAR},
      </if>
      <if test="unit_address != null" >
        #{unit_address,jdbcType=VARCHAR},
      </if>
      <if test="attendant_one_name != null" >
        #{attendant_one_name,jdbcType=VARCHAR},
      </if>
      <if test="attendant_one_relationship != null" >
        #{attendant_one_relationship,jdbcType=VARCHAR},
      </if>
      <if test="attendant_one_sex != null" >
        #{attendant_one_sex,jdbcType=VARCHAR},
      </if>
      <if test="attendant_one_card != null" >
        #{attendant_one_card,jdbcType=VARCHAR},
      </if>
      <if test="attendant_one_if_vaccination != null" >
        #{attendant_one_if_vaccination,jdbcType=VARCHAR},
      </if>
      <if test="attendant_one_if_school != null" >
        #{attendant_one_if_school,jdbcType=VARCHAR},
      </if>
      <if test="attendant_two_name != null" >
        #{attendant_two_name,jdbcType=VARCHAR},
      </if>
      <if test="attendant_two_relationship != null" >
        #{attendant_two_relationship,jdbcType=VARCHAR},
      </if>
      <if test="attendant_two_sex != null" >
        #{attendant_two_sex,jdbcType=VARCHAR},
      </if>
      <if test="attendant_two_card != null" >
        #{attendant_two_card,jdbcType=VARCHAR},
      </if>
      <if test="attendant_two_if_vaccination != null" >
        #{attendant_two_if_vaccination,jdbcType=VARCHAR},
      </if>
      <if test="attendant_two_if_school != null" >
        #{attendant_two_if_school,jdbcType=VARCHAR},
      </if>
      <if test="attendant_three_name != null" >
        #{attendant_three_name,jdbcType=VARCHAR},
      </if>
      <if test="attendant_three_relationship != null" >
        #{attendant_three_relationship,jdbcType=VARCHAR},
      </if>
      <if test="attendant_three_sex != null" >
        #{attendant_three_sex,jdbcType=VARCHAR},
      </if>
      <if test="attendant_three_card != null" >
        #{attendant_three_card,jdbcType=VARCHAR},
      </if>
      <if test="attendant_three_if_vaccination != null" >
        #{attendant_three_if_vaccination,jdbcType=VARCHAR},
      </if>
      <if test="attendant_three_if_school != null" >
        #{attendant_three_if_school,jdbcType=VARCHAR},
      </if>
      <if test="collector_name != null" >
        #{collector_name,jdbcType=VARCHAR},
      </if>
      <if test="entry_name != null" >
        #{entry_name,jdbcType=VARCHAR},
      </if>
      <if test="update_Time != null" >
        #{update_Time,jdbcType=TIMESTAMP},
      </if>
      <if test="ethnicity != null" >
        #{ethnicity,jdbcType=VARCHAR},
      </if>
      <if test="birth != null" >
        #{birth,jdbcType=VARCHAR},
      </if>
      <if test="residentialAddress != null" >
        #{residentialAddress,jdbcType=VARCHAR},
      </if>
      <if test="authority != null" >
        #{authority,jdbcType=VARCHAR},
      </if>
      <if test="startValidity != null" >
        #{startValidity,jdbcType=VARCHAR},
      </if>
      <if test="endValidity != null" >
        #{endValidity,jdbcType=VARCHAR},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.pojo.Customer" >
    update customer
    <set >
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="id_card != null" >
        id_card = #{id_card,jdbcType=VARCHAR},
      </if>
      <if test="entrance_guard_id != null" >
        entrance_guard_id = #{entrance_guard_id,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="graduated_from != null" >
        graduated_from = #{graduated_from,jdbcType=VARCHAR},
      </if>
      <if test="work_unit != null" >
        work_unit = #{work_unit,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="customer_photo_url != null" >
        customer_photo_url = #{customer_photo_url,jdbcType=VARCHAR},
      </if>
      <if test="customer_photo_url2 != null" >
        customer_photo_url2 = #{customer_photo_url2,jdbcType=VARCHAR},
      </if>
      <if test="hometown != null" >
        hometown = #{hometown,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="profession != null" >
        profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="political != null" >
        political = #{political,jdbcType=VARCHAR},
      </if>
      <if test="marriage_status != null" >
        marriage_status = #{marriage_status,jdbcType=VARCHAR},
      </if>
      <if test="job_type != null" >
        job_type = #{job_type,jdbcType=VARCHAR},
      </if>
      <if test="professional_level != null" >
        professional_level = #{professional_level,jdbcType=VARCHAR},
      </if>
      <if test="registration_time != null" >
        registration_time = #{registration_time,jdbcType=TIMESTAMP},
      </if>
      <if test="rent_reason != null" >
        rent_reason = #{rent_reason,jdbcType=VARCHAR},
      </if>
      <if test="room_type != null" >
        room_type = #{room_type,jdbcType=VARCHAR},
      </if>
      <if test="registration_certification_situation != null" >
        registration_certification_situation = #{registration_certification_situation,jdbcType=VARCHAR},
      </if>
      <if test="estimated_due_time != null" >
        estimated_due_time = #{estimated_due_time,jdbcType=TIMESTAMP},
      </if>
      <if test="unit_director != null" >
        unit_director = #{unit_director,jdbcType=VARCHAR},
      </if>
      <if test="present_community != null" >
        present_community = #{present_community,jdbcType=VARCHAR},
      </if>
      <if test="present_street != null" >
        present_street = #{present_street,jdbcType=VARCHAR},
      </if>
      <if test="unit_contact_phone != null" >
        unit_contact_phone = #{unit_contact_phone,jdbcType=VARCHAR},
      </if>
      <if test="unit_address != null" >
        unit_address = #{unit_address,jdbcType=VARCHAR},
      </if>
      <if test="attendant_one_name != null" >
        attendant_one_name = #{attendant_one_name,jdbcType=VARCHAR},
      </if>
      <if test="attendant_one_relationship != null" >
        attendant_one_relationship = #{attendant_one_relationship,jdbcType=VARCHAR},
      </if>
      <if test="attendant_one_sex != null" >
        attendant_one_sex = #{attendant_one_sex,jdbcType=VARCHAR},
      </if>
      <if test="attendant_one_card != null" >
        attendant_one_card = #{attendant_one_card,jdbcType=VARCHAR},
      </if>
      <if test="attendant_one_if_vaccination != null" >
        attendant_one_if_vaccination = #{attendant_one_if_vaccination,jdbcType=VARCHAR},
      </if>
      <if test="attendant_one_if_school != null" >
        attendant_one_if_school = #{attendant_one_if_school,jdbcType=VARCHAR},
      </if>
      <if test="attendant_two_name != null" >
        attendant_two_name = #{attendant_two_name,jdbcType=VARCHAR},
      </if>
      <if test="attendant_two_relationship != null" >
        attendant_two_relationship = #{attendant_two_relationship,jdbcType=VARCHAR},
      </if>
      <if test="attendant_two_sex != null" >
        attendant_two_sex = #{attendant_two_sex,jdbcType=VARCHAR},
      </if>
      <if test="attendant_two_card != null" >
        attendant_two_card = #{attendant_two_card,jdbcType=VARCHAR},
      </if>
      <if test="attendant_two_if_vaccination != null" >
        attendant_two_if_vaccination = #{attendant_two_if_vaccination,jdbcType=VARCHAR},
      </if>
      <if test="attendant_two_if_school != null" >
        attendant_two_if_school = #{attendant_two_if_school,jdbcType=VARCHAR},
      </if>
      <if test="attendant_three_name != null" >
        attendant_three_name = #{attendant_three_name,jdbcType=VARCHAR},
      </if>
      <if test="attendant_three_relationship != null" >
        attendant_three_relationship = #{attendant_three_relationship,jdbcType=VARCHAR},
      </if>
      <if test="attendant_three_sex != null" >
        attendant_three_sex = #{attendant_three_sex,jdbcType=VARCHAR},
      </if>
      <if test="attendant_three_card != null" >
        attendant_three_card = #{attendant_three_card,jdbcType=VARCHAR},
      </if>
      <if test="attendant_three_if_vaccination != null" >
        attendant_three_if_vaccination = #{attendant_three_if_vaccination,jdbcType=VARCHAR},
      </if>
      <if test="attendant_three_if_school != null" >
        attendant_three_if_school = #{attendant_three_if_school,jdbcType=VARCHAR},
      </if>
      <if test="collector_name != null" >
        collector_name = #{collector_name,jdbcType=VARCHAR},
      </if>
      <if test="entry_name != null" >
        entry_name = #{entry_name,jdbcType=VARCHAR},
      </if>
      <if test="update_Time != null" >
        update_Time = #{update_Time,jdbcType=TIMESTAMP},
      </if>
      <if test="ethnicity != null" >
        ethnicity = #{ethnicity,jdbcType=VARCHAR},
      </if>
      <if test="birth != null" >
        birth = #{birth,jdbcType=VARCHAR},
      </if>
      <if test="residentialAddress != null" >
        residentialAddress = #{residentialAddress,jdbcType=VARCHAR},
      </if>
      <if test="authority != null" >
        authority = #{authority,jdbcType=VARCHAR},
      </if>
      <if test="startValidity != null" >
        startValidity = #{startValidity,jdbcType=VARCHAR},
      </if>
      <if test="endValidity != null" >
        endValidity = #{endValidity,jdbcType=VARCHAR},
      </if>
      <if test="mid != null" >
        mid = #{mid,jdbcType=VARCHAR},
      </if>
    </set>
    where customer_id = #{customer_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.pojo.Customer" >
    update customer
    set phone = #{phone,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      id_card = #{id_card,jdbcType=VARCHAR},
      entrance_guard_id = #{entrance_guard_id,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      graduated_from = #{graduated_from,jdbcType=VARCHAR},
      work_unit = #{work_unit,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      customer_photo_url = #{customer_photo_url,jdbcType=VARCHAR},
      customer_photo_url2 = #{customer_photo_url2,jdbcType=VARCHAR},
      hometown = #{hometown,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      political = #{political,jdbcType=VARCHAR},
      marriage_status = #{marriage_status,jdbcType=VARCHAR},
      job_type = #{job_type,jdbcType=VARCHAR},
      professional_level = #{professional_level,jdbcType=VARCHAR},
      registration_time = #{registration_time,jdbcType=TIMESTAMP},
      rent_reason = #{rent_reason,jdbcType=VARCHAR},
      room_type = #{room_type,jdbcType=VARCHAR},
      registration_certification_situation = #{registration_certification_situation,jdbcType=VARCHAR},
      estimated_due_time = #{estimated_due_time,jdbcType=TIMESTAMP},
      unit_director = #{unit_director,jdbcType=VARCHAR},
      present_community = #{present_community,jdbcType=VARCHAR},
      present_street = #{present_street,jdbcType=VARCHAR},
      unit_contact_phone = #{unit_contact_phone,jdbcType=VARCHAR},
      unit_address = #{unit_address,jdbcType=VARCHAR},
      attendant_one_name = #{attendant_one_name,jdbcType=VARCHAR},
      attendant_one_relationship = #{attendant_one_relationship,jdbcType=VARCHAR},
      attendant_one_sex = #{attendant_one_sex,jdbcType=VARCHAR},
      attendant_one_card = #{attendant_one_card,jdbcType=VARCHAR},
      attendant_one_if_vaccination = #{attendant_one_if_vaccination,jdbcType=VARCHAR},
      attendant_one_if_school = #{attendant_one_if_school,jdbcType=VARCHAR},
      attendant_two_name = #{attendant_two_name,jdbcType=VARCHAR},
      attendant_two_relationship = #{attendant_two_relationship,jdbcType=VARCHAR},
      attendant_two_sex = #{attendant_two_sex,jdbcType=VARCHAR},
      attendant_two_card = #{attendant_two_card,jdbcType=VARCHAR},
      attendant_two_if_vaccination = #{attendant_two_if_vaccination,jdbcType=VARCHAR},
      attendant_two_if_school = #{attendant_two_if_school,jdbcType=VARCHAR},
      attendant_three_name = #{attendant_three_name,jdbcType=VARCHAR},
      attendant_three_relationship = #{attendant_three_relationship,jdbcType=VARCHAR},
      attendant_three_sex = #{attendant_three_sex,jdbcType=VARCHAR},
      attendant_three_card = #{attendant_three_card,jdbcType=VARCHAR},
      attendant_three_if_vaccination = #{attendant_three_if_vaccination,jdbcType=VARCHAR},
      attendant_three_if_school = #{attendant_three_if_school,jdbcType=VARCHAR},
      collector_name = #{collector_name,jdbcType=VARCHAR},
      entry_name = #{entry_name,jdbcType=VARCHAR},
      update_Time = #{update_Time,jdbcType=TIMESTAMP},
      ethnicity = #{ethnicity,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=VARCHAR},
      residentialAddress = #{residentialAddress,jdbcType=VARCHAR},
      authority = #{authority,jdbcType=VARCHAR},
      startValidity = #{startValidity,jdbcType=VARCHAR},
      endValidity = #{endValidity,jdbcType=VARCHAR},
      mid = #{mid,jdbcType=VARCHAR}
    where customer_id = #{customer_id,jdbcType=INTEGER}
  </update>
</mapper>